[submodule "catkin_ws/src/drones"]
	path = catkin_ws/src/drones
	url = git@github.com:JdeRobot/drones.git
[submodule "catkin_ws/src/assets"]
	path = catkin_ws/src/assets
	url = git@github.com:JdeRobot/assets.git
